[submodule "module-4-w3w/lib/forge-std"]
	path = module-4-w3w/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-4-w3w/lib/chainlink-brownie-contracts"]
	path = module-4-w3w/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "module-4-w3w/lib/openzeppelin-contracts"]
	path = module-4-w3w/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
